:root {
    --clr-pr: 125 75% 65%;
    --clr-sec: 70 90% 65%;
    --clr-black: 0 0% 12%;
    --clr-white: 0 0% 100%;

    --space-no: 0;
    --space-sm: 1.5rem;

    --shadow-pr: 2px 4px 8px hsl(var(--clr-black)/0.45);
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    color: hsl(var(--clr-black));
    line-height: 1.5;
    scroll-behavior: smooth;
}

h1 {
    background-color: hsl(var(--clr-pr));
    padding: var(--space-sm);
    text-align: center;
    color: hsl(var(--clr-white)/0.9);
}

button,
input {
    font: inherit;
    color: inherit;
    padding: 0;
}

form {
    background-color: hsl(var(--clr-pr));
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin-inline: auto;
    gap: var(--space-sm);
    padding: var(--space-sm);
    border-radius: 0.5rem;
    border: 8px solid hsl(var(--clr-sec)/0.9);
    box-shadow: var(--shadow-pr);
}

label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
}

input {
    background-color: hsl(var(--clr-sec));
}

button {
    align-self: flex-end;
    padding: 0.5rem 1rem;
    border-radius: 0.35rem;
    border: 4px solid hsl(var(--clr-sec));
    background-color: hsl(var(--clr-sec));
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    box-shadow: var(--shadow-pr);
}

button:hover {
    background-color: hsl(var(--clr-sec)/0.8);
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}

.error {
    color: white;
    letter-spacing: 1px;
    background-color: hsl(0, 90%, 55%);
    max-width: 400px;
    margin-inline: auto;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.table {
    margin-inline: 1rem;
    overflow-x: scroll;
    margin-bottom: 2rem;
}

table {
    background-color: hsl(var(--clr-pr));
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: var(--shadow-pr);
    margin-inline: auto;
    margin-bottom: 1rem;
}

tr {
    background-color: white;
}

tr:nth-of-type(2n+1) {
    background-color: hsl(var(--clr-white)/0.5);
}

td {
    min-width: 80px;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
}