:root {
    --clr-pr: 125 75% 65%;
    --clr-sec: 60 100% 50%;
    --clr-black: 0 0% 12%;
    --clr-white: 0 0% 100%;

    --space-no: 0;
    --space-sm: 1rem;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    color: hsl(var(--clr-black));
    line-height: 1.5;
}

h1 {
    background-color: hsl(var(--clr-pr));
    padding: var(--space-sm);
    text-align: center;
    color: hsl(var(--clr-white)/0.9);
}

button,
input {
    font: inherit;
    color: inherit;
    padding: 0;
}

form {
    background-color: hsl(var(--clr-pr));
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin-inline: auto;
    gap: var(--space-sm);
    padding: var(--space-sm);
    border-radius: 0.5rem;
}

label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
}

input {
    background-color: hsl(var(--clr-sec));
}

button {
    align-self: flex-end;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 2px solid hsl(var(--clr-sec));
    background-color: hsl(var(--clr-sec));
    font-weight: bold;
}

.error {
    color: white;
    letter-spacing: 1px;
    background-color: hsl(0, 90%, 55%);
    max-width: 400px;
    margin-inline: auto;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}